<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipBits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>982462A71E6EA33600BC98AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>982462BB1E6EA33700BC98AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>982462C61E6EA33700BC98AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
